@tailwind base;
@tailwind components;
@tailwind utilities;

/* Taken from getting started guide at: https://leafletjs.com/examples/quick-start/ */
@import "https://unpkg.com/leaflet@1.9.3/dist/leaflet.css";
@import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap";

/* These CSS variables are global, so they are available in all CSS modules */
:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--0: #242a2e;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: #d6dee0;
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
}

.background-main {
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.8),
      rgba(36, 42, 46, 0.8)
    ),
    url("/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 2rem);
}

.cta {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.5rem 1.3rem;
  border-radius: 7px;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}
